
@{
    ViewBag.Title = "Index";
}
<section id="services-section" class="page text-center">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>CERTIFICADO Y AUTORIZACION EN LÍNEA</h2>
                <div class="devider"></div>
               
            </div>
        </div>
    </div>
    <!-- End page header-->
    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <div class="contact-info">
                        <h4>TRAMITE DE CERTIFICADO</h4>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;PARAMETROS URBANISTICOS Y EDIFICATORIOS</a>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;NUMERACION PREDIAL</a>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;NEGATIVO DE CATASTRO</a>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;JURISDICCIONAL</a>
                        <br />
                        <br />
                        <h4>TRAMITE DE AUTORIZACIONES</h4>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;OCUPAR VIA PUBLICA</a>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <div class="form-group">
                            <label class="mb-0">Nombres(s)</label>
                            <br />
                            <br />
                            <input type="text" class="form-control input-lg" placeholder="WILLIAM ALFREDO JARA SOTO" required />
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <div class="form-group">
                            <label class="mb-0">DNI</label>
                            <br />
                            <br />
                            <input type="text" class="form-control input-lg" placeholder="41247896" required />
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="">
                        <div class="form-group">
                            <label class="mb-0">Correo Electronico:</label>
                            <br />
                            <br />
                            <input type="email" class="form-control input-lg" placeholder="ALFREDOJARA@gmail.com" required />
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <div class="form-group">
                            <label class="mb-0">Ubicacion del Predio Solicitado:</label>
                            <br />
                            <br />
                            <input type="text" class="form-control input-lg" placeholder="AA.HH. FRANCISCO BOLOGNESI, CALLE CAHUIDE N°480, MZ “32A” LOTE “8” " required />
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <div class="form-group">
                            <label class="mb-0">TRAMITE:</label>
                            <br />
                            <br />
                            <input type="text" class="form-control input-lg" placeholder="Autorización Ocupar vía pública" required />
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <div class="form-group">
                            <label class="mb-0">MONTO(S/.):</label>
                            <br />
                            <br />
                            <input type="text" class="form-control input-lg" placeholder="40.50" required />
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <div class="form-group">
                            <label class="mb-0">VALIDAR PAGO:</label>
                            <br />
                            <br />
                            <input type="text" class="form-control input-lg" placeholder="" required />
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
    <div class="container">
        <!-- Cta Button -->
        <div class="extra-space-l"></div>
        <div class="text-center">
            <a class="btn btn-default btn-lg-xl" href="~/Tramite/Tramite" target="_blank" role="button">ENVIAR SOLICITUD</a>
            <a class="btn btn-default btn-lg-xl" href="" target="_blank" role="button">CANCELAR</a>
        </div>
    </div> <!-- /.container -->
    <!-- End rotate-box-2 -->
</section>
