
@{
    ViewBag.Title = "Tramite";
}
<section id="services-section" class="page text-center">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>CERTIFICADO Y AUTORIZACION EN LÍNEA</h2>
                <div class="devider"></div>
                
            </div>
        </div>
    </div>
    <!-- End page header-->
    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <div class="contact-info">
                        <h4>TRAMITE DE CERTIFICADO</h4>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;PARAMETROS URBANISTICOS Y EDIFICATORIOS</a>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;NUMERACION PREDIAL</a>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;NEGATIVO DE CATASTRO</a>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;JURISDICCIONAL</a>
                        <br />
                        <br />
                        <h4>TRAMITE DE AUTORIZACIONES</h4>
                        <br />
                        <br />
                        <a href="#" class="link-primary">&nbsp;OCUPAR VIA PUBLICA</a>

                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">N° 1225-2022</h4>
                        <p>
                            Se generó el numero de solicitud de ingreso:
                        </p>
                        <hr>
                        <p class="mb-0">
                            Se ha recepcionado la solicitud registrada.
                            Se ha enviado el Certificado o Autorización a la bandeja
                            del correo electronico que se registró, se sugiere verificar
                            también en la bandeja de correos no deseados o spam.
                        </p>
                    </div>
                    <a class="btn btn-success"  href="https://cdn.www.gob.pe/uploads/document/file/2840896/AUTORIZACION%20N%C2%B0%20069-2021%20%281%29.pdf.pdf" role="button">Descargar</a>
                </div>
            </div>

        </div> <!-- /.row -->

    </div> <!-- /.container -->
    <!-- End rotate-box-2 -->
</section>

