<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Appcerti</title>
    <meta name="description" content="Unika - Responsive One Page HTML5 Template">
    <meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
    <meta name="author" content="imransdesign.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="~/Assets/inc/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/inc/animations/css/animate.min.css" />
    <link rel="stylesheet" href="~/Assets/inc/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/inc/owl-carousel/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Assets/inc/owl-carousel/css/owl.theme.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Assets/css/reset.css" />
    <link rel="stylesheet" href="~/Assets/css/style.css" />
    <link rel="stylesheet" href="~/Assets/css/mobile.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Assets/css/skin/cool-gray.css" />


</head>

<body data-spy="scroll" data-target="#main-navbar">
    <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    <div class="body">

        <!--========== BEGIN HEADER ==========-->
        <header id="header" class="header-main">

            <!-- Begin Navbar -->
            <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="index.html">Unikadddd</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="" href="body">Privacidad y Seguridad</a></li>
                            <li><a class="" href="">Ayuda</a></li>
                            <li><a class="" href="">Terminos y Condiciones</a></li>
                            <li><a class="" href="">Contáctenos</a></li>
                            <li><a class="" href="">Tarifas</a></li>
                            <li><a class="" href="~/Home/Index">Inicio</a></li>
                            <li><a class="" href="#contact-section">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
            <!-- End Navbar -->

        </header>
        <!-- Begin about section -->
        <br />
        <br />

        @RenderBody()

        <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

    </div><!-- body ends -->
    <!-- Plugins JS -->
    <script src="~/Assets/inc/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/inc/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/inc/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="~/Assets/inc/stellar/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/inc/animations/js/wow.min.js"></script>
    <script src="~/Assets/inc/waypoints.min.js"></script>
    <script src="~/Assets/inc/isotope.pkgd.min.js"></script>
    <script src="~/Assets/inc/classie.js"></script>
    <script src="~/Assets/inc/jquery.easing.min.js></script>
    <script src="~/Assets/inc/jquery.counterup.min.js"></script>
    <script src="~/Assets/inc/smoothscroll.js"></script>






    <!-- Theme JS -->
    <script src="~/Assets/js/theme.js"></script>

</body>
