
@{
    ViewBag.Title = "Index";
}

        <section class="page text-center">
            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>CERTIFICADO Y AUTORIZACION EN LÍNEA</h2>
                        <div class="devider"></div>
                       
                    </div>
                </div>
            </div>
            <!-- End page header-->
            <!-- Begin roatet box-2 -->
            <div class="rotate-box-2-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                <div class="form-group">
                                    <label class="mb-0">Documento(*)</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="DNI" required />
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                <div class="form-group">
                                    <label class="mb-0">Número(*)</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="41247896" required />
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                <div class="form-group">
                                    <label class="mb-0">Fecha de Nacimiento(*)</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="24/08/1968" required />
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Fecha de Emision(*)</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="14/05/2021" required />
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Nombre(s)</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="WILLIAM ALFREDO" required />
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Apellido P.</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="JARA" required />
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Apellido M.</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="SOTO" required />
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Celular</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="" required />
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Correo Electronico</label>
                                    <br />
                                    <br />
                                    <input type="email" class="form-control input-lg" placeholder="E-mail" required />

                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                <div class="form-group">
                                    <label class="mb-0">Confirmar Correo Electronico</label>
                                    <br />
                                    <br />
                                    <input type="text" class="form-control input-lg" placeholder="" required />
                                </div>
                            </a>
                        </div>

                    </div> <!-- /.row -->

                </div> <!-- /.container -->

                <div class="container">
                    <!-- Cta Button -->
                    <div class="extra-space-l"></div>
                    <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="~/Certificado/Index" target="_blank" role="button">Ir a Certificado en Linea</a>

                    </div>
                </div> <!-- /.container -->
            </div>
            <!-- End rotate-box-2 -->
        </section>

 
 
    
    
    
    



